.row{
    display: inline-flexbox ; 
    justify-content: space-around;
    width: 85% ; 
    float : right ; 
}

.col{
    float: left ;
    /* background-color: red; */
    width: 30%;
    margin: 5px;
    
}

.loadMore {
    float:  right;
    width: 100%;
}

.loadMore button{
    background-color: transparent;
    color : white ; 
    letter-spacing: 4px;
    padding: 1em;
}
.gridImage {
    width: 100%; 
    height: auto;
    margin-bottom: 5px ;
    transition: 0.2s ease;
}



.modalImage{
    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
    .modalImage {
        width: 100%;
        height: fit-content;
      
    }
    
  }
@media (min-width: 769px ) {
    .modalImage{
        width: 100%;
        height: fit-content;
    }
}  
@media (min-width: 992px) {
    .modalImage{
        height: 100%;
        width: auto;
    }
}

.modalCloseButton{
    background: transparent;
    color : white ; 
    border : none ; 
    outline: none;
    font-size: 1.5em;
    position: fixed;
    cursor: pointer;
    text-shadow: 0em 0em .4em  black;

}
.modalCloseButton:hover{
    color : rgb(255, 86, 86) ; 
    transition: .5s ease ;
}
.imageBox{
        position: relative;
        text-align: center;
        color: white;
}
.imageBox:hover  .gridImage{
    opacity: 25%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.expandIcon {
    font-size: 2.3em;
    transition: .3s ease-in-out;
}
.expandIcon:hover{
    font-size: 2.6em;
}
.noDisplay{
    visibility: hidden ; 
}
.display{
    visibility:visible  ; 
}

.gridDeleteBtn{
    font-family: inherit;
    font-size: inherit;
    letter-spacing: 4px;
    padding : .5em ; 
    height: 70%;
    background-color: transparent;
    color : inherit ; 
    cursor: pointer;
    border-radius: 3em;
    
}
.gridDeleteBtn:hover{
    border-color: red; 
    color : red ; 
    font-weight: bold;
    border-radius: 0em;
    background-color:black;
    transition-duration: .8s;
    
}

/* react - modal : Image Modal */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 2000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.deleteImage{
    width: 100%;
    margin-bottom: 2em;
}

.deleteModalBtn{
    font-family: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    padding: .5em;
    background-color: transparent;
    color : inherit ; 
    cursor: pointer;
}

.deleteModalBtn:hover{
    border-color: white ; 
    transition-property: border;
    transition-duration: .8s;
}