
.sideNav {
    height: 200px;
    width: 15%;
    background-color: black;
    text-align: center;
    position: fixed;
    transition: 0.2s ease;
}

.collapse {
  margin-top: -200px;
  transition: 0.2s ease;
}
  
.sideNav p {
  color: #9f9f9f;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  transition: 0.3s ease;
  cursor: pointer;
  letter-spacing: 6px;
  user-select: none; 
}

.sideNav p:hover{
  color: white;
}

.logoImg {
    margin-top: -450px;
    margin-left: 5px;
    height: 80px;
    width: auto;
    cursor: pointer;
    position: fixed;

}

.collapsible {
  font-size: 12px;
  color: #9f9f9f;
  cursor: pointer;
}

.collapsible:hover {
  color: white;
}


@media (max-width: 768px) {
  .sideNav p{
      font-size: 6px;
      margin-left: -16px;
  }
}