
.sideNav {
    height: 200px;
    width: 15%;
    background-color: black;
    text-align: center;
    position: fixed;
    transition: 0.2s ease;
}

.collapse {
  bottom: unset;
  margin-top: -300px;
  transition: 0.2s ease;
  cursor: pointer;
}
  
.sideNav p {
  color: #9f9f9f;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
  transition: 0.3s ease;
  cursor: pointer;
  letter-spacing: 6px;
  user-select: none; 
}

.sideNav p:hover{
  color: white;
}

.logoImg {
    margin-top: -450px;
    margin-left: 5px;
    height: 80px;
    width: auto;
    cursor: pointer;
    position: fixed;

}

.logoImg2 {
    margin-top: 5px;
    margin-left: 5px;
    height: 60px;
    width: auto;
    cursor: pointer;
}

.collapsible {
  font-size: 12px;
  color: #9f9f9f;
  cursor: pointer;
}


.collapsible:hover {
  color: white;
}


.menuContainer {
  float: left;
}

.swipeableIn {
  background-color: #111111;
  height: 100%;
  width: 200px;
}

.drawer {
  visibility: hidden;
}


@media (max-width: 768px) {

  .sideNav {
    width: 200px;
    background-color: unset;
  }

  .sideNav p{
    float: left;
  }

  .collapsible {
    margin-left: -40px;
  }

  .collapsible:focus {
    color:  white;
  }
  .navbar {
    visibility: hidden;
  }

  .drawer {
    visibility: visible;
  }
}

.powerOffBtn{
  font-size: 2em;
  color : whitesmoke ; 
}
.powerOffBtn:hover { 
  transition-duration: .7s;
  text-shadow: 0em 0em 1em rgb(255, 77, 77);
  color : rgb(255, 43, 43) ; 
}